/* Reset default styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

a,
button,
input,
textarea,
select {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}


